@charset "UTF-8";
/*
 * @author 김은선
 * @used SCSS
 * @since 2021-06-18(start)
 * @version 0.0.1
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption,
figure, footer, header, hgroup,
main, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img {
  display: block;
  border: 0;
}

button {
  padding: 0;
  background: none;
  border: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* NotoSansKR-100 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-100.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-100.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-100.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-100.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-100.otf") format("opentype");
}

/* NotoSansKR-300 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-300.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-300.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-300.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-300.otf") format("opentype");
}

/* NotoSansKR-regular */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-regular.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-regular.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-regular.otf") format("opentype");
}

/* NotoSansKR-500 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-500.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-500.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-500.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-500.otf") format("opentype");
}

/* NotoSansKR-700 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-700.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-700.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-700.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-700.otf") format("opentype");
}

/* NotoSansKR-900 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-900.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-900.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto_Sans_KR/NotoSansKR-900.woff2") format("woff2"), url("../fonts/Noto_Sans_KR/NotoSansKR-900.woff") format("woff"), url("../fonts/Noto_Sans_KR/NotoSansKR-900.otf") format("opentype");
}

.skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
}

.skip-nav > a {
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  padding: 0 25px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}

.skip-nav > a:focus, .skip-nav > a:active {
  overflow: hidden;
  top: 0;
  z-index: 101;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  font-size: 62.5%;
  font-weight: 300;
}

#wrapper {
  font-size: 1.6rem;
  color: #636363;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1399.98px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 1399.98px) {
  body {
    background: skyblue;
  }
}

@media (max-width: 991.98px) {
  body {
    background: pink;
  }
}

@media (max-width: 767.98px) {
  body {
    background: ivory;
  }
}

@media (max-width: 575.98px) {
  body {
    background: #eee;
  }
}

body {
  background: #eee;
}

.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.header .user > a {
  display: block;
  position: relative;
}

.header .user > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../img/layout/user-sprite.png") no-repeat center top;
}

.gnb {
  border-bottom: 1px solid #e5e7ee;
  background: #ffffff;
}

@media (max-width: 991.98px) {
  .gnb {
    display: none;
  }
}

.gnb .container:after {
  content: "";
  display: block;
  clear: both;
}

.gnb .left-box {
  float: left;
  font-size: 1.5rem;
}

.gnb .left-box .site-list {
  float: left;
}

.gnb .left-box .site-item {
  float: left;
  position: relative;
}

.gnb .left-box .site-item + .site-item {
  margin-left: 1.4rem;
  padding-left: 1.4rem;
}

.gnb .left-box .site-item + .site-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1.5rem;
  margin: auto 0;
  background-color: #e5e7ee;
}

.gnb .left-box .site-item a {
  display: block;
  color: #7d7d7d;
  line-height: 4.5rem;
}

.gnb .left-box .family {
  float: left;
  position: relative;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2.2rem;
  border-left: 1px solid #e5e7ee;
}

.gnb .left-box .family:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.9rem;
  height: 0.5rem;
  margin: auto 0;
  background-image: url("../img/layout/family-sprite.png");
  background-repeat: no-repeat;
  background-position: left 63.2%;
}

.gnb .left-box .family-open {
  color: #636363;
  line-height: 4.5rem;
}

.gnb .left-box .family-modal {
  display: none;
}

.gnb .right-box {
  font-size: 1.4rem;
  line-height: 4.5rem;
  float: right;
}

.gnb .right-box > div {
  float: left;
}

.gnb .right-box .weather {
  margin-right: 1.2rem;
}

.gnb .right-box .weather > div {
  float: left;
}

.gnb .right-box .weather-icon {
  width: 4.5rem;
  height: 4.5rem;
  background-image: url("../img/layout/weather-sprite.png");
  background-repeat: no-repeat;
  background-position: center 1rem;
}

.gnb .right-box .weather-icon.type1 {
  background-position: center 1rem;
}

.gnb .right-box .weather-icon.type2 {
  background-position: center -9.6rem;
}

.gnb .right-box .weather-air {
  max-width: 12rem;
  height: 4.5rem;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1399.98px) {
  .gnb .right-box .weather-air {
    max-width: 9rem;
  }
}

.gnb .right-box .user {
  position: relative;
}

.gnb .right-box .user:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1.5rem;
  margin: auto 0;
  background-color: #e5e7ee;
}

.gnb .right-box .user > a {
  margin: 0 1.2rem;
  padding-left: 2.2rem;
  line-height: 4.5rem;
}

.gnb .right-box .user > a:before {
  width: 1.7rem;
  height: 1.5rem;
  margin: auto 0;
  background-size: 1.7rem auto;
}

.gnb .right-box .user.login a:before {
  background-position: center top;
}

.gnb .right-box .user.logout a:before {
  background-position: center -5rem;
}

.gnb .right-box .language {
  position: relative;
  font-size: 1.3rem;
}

.gnb .right-box .language:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #e5e7ee;
}

.gnb .right-box .language-toggle {
  display: block;
  position: relative;
  margin: 0 1.2rem;
  padding-left: 2.2rem;
  padding-right: 2.1rem;
  line-height: 4.5rem;
}

.gnb .right-box .language-toggle:before, .gnb .right-box .language-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url("../img/layout/language-sprite.png");
  background-repeat: no-repeat;
}

.gnb .right-box .language-toggle:before {
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem auto;
  background-position: center top;
}

.gnb .right-box .language-toggle:after {
  right: 0;
  width: 0.9rem;
  height: 0.5rem;
  background-position: left 32.89%;
}

.gnb .right-box .language-list {
  display: none;
}

.gnb .right-box .welfare {
  position: relative;
  width: 12rem;
  height: 4.5rem;
  background-color: #00a3aa;
}

.gnb .right-box .welfare > a {
  display: block;
  width: 100%;
  height: 100%;
}

.gnb .right-box .welfare > a:before, .gnb .right-box .welfare > a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url("../img/layout/welfare-sprite.png");
  background-repeat: no-repeat;
}

.gnb .right-box .welfare > a:before {
  left: 2rem;
  width: 1.6rem;
  height: 1.4rem;
  background-position: left 52.08%;
}

.gnb .right-box .welfare > a:after {
  right: 2.5rem;
  width: 5.3rem;
  height: 1.5rem;
  background-position: left top;
}

.lnb {
  position: relative;
  height: 10rem;
  border-bottom: 1px solid #e5e7ee;
  background: #ffffff;
}

.lnb.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e7ee;
  position: absolute;
  top: 10rem;
  left: 0;
  z-index: 9999;
}

@media (max-width: 991.98px) {
  .lnb {
    height: 8rem;
  }
}

.lnb .container {
  height: 100%;
}

.lnb .container:after {
  content: "";
  display: block;
  clear: both;
}

.lnb .logo {
  float: left;
  padding-top: 1.2rem;
}

.lnb .logo > a {
  display: block;
}

@media (max-width: 991.98px) {
  .lnb .logo > a img {
    height: 5rem;
  }
}

.lnb .lnb-box {
  float: right;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box {
    padding-top: 2rem;
  }
}

.lnb .lnb-box .user {
  display: none;
  float: left;
  width: 4rem;
  height: 4rem;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box .user {
    display: block;
  }
}

.lnb .lnb-box .user > a {
  width: 100%;
  height: 100%;
}

.lnb .lnb-box .user > a:before {
  width: 2.4rem;
  height: 2.2rem;
}

.lnb .lnb-box .menu-open {
  display: none;
  float: left;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.lnb .lnb-box .menu-open > button {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.lnb .lnb-box .menu-open > button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2rem;
  height: 1.6rem;
  margin: auto;
  background: url("../img/layout/sitemap-open.png") no-repeat center;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box .menu-open {
    display: block;
  }
}

.lnb .lnb-box .menu {
  float: left;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box .menu {
    display: none;
  }
}

.lnb .lnb-box .menu .menu-top {
  display: none;
}

.lnb .lnb-box .menu .menu-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.lnb .lnb-box .menu .menu-wrap .depth1-list {
  float: left;
  width: 80rem;
}

@media (max-width: 1399.98px) {
  .lnb .lnb-box .menu .menu-wrap .depth1-list {
    width: 65rem;
    margin-right: 1rem;
  }
}

.lnb .lnb-box .menu .menu-wrap .depth1-item {
  float: left;
  width: 16.66%;
  height: 10rem;
  padding-top: 2.5rem;
  text-align: center;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item > a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 5rem;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item.familysite {
  display: none;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item.m-sitemap-open {
  display: none;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item.active .depth2-wrap {
  display: block;
  -webkit-box-shadow: 0 4.3rem 3rem rgba(25, 43, 116, 0.12);
          box-shadow: 0 4.3rem 3rem rgba(25, 43, 116, 0.12);
  -webkit-transition: -webkit-box-shadow 0s;
  transition: -webkit-box-shadow 0s;
  transition: box-shadow 0s;
  transition: box-shadow 0s, -webkit-box-shadow 0s;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item:nth-of-type(2) .depth2-item:nth-of-type(4) {
  min-height: 25rem;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item:nth-of-type(4) .depth2-item:nth-of-type(5) {
  min-height: 16rem;
}

.lnb .lnb-box .menu .menu-wrap .depth1-item:nth-of-type(5) .depth2-item:nth-of-type(5) {
  min-height: 22rem;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap {
  display: none;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  text-align: left;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .container {
  position: relative;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18rem;
  padding-top: 22rem;
  background: url("../img/layout/infopart-bg.png") no-repeat left 3.5rem;
  font-size: 1.5rem;
  color: #7d7d7d;
  text-align: center;
  line-height: 2rem;
}

@media (max-width: 1399.98px) {
  .lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-info {
    left: 2rem;
  }
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-list {
  padding-left: 18rem;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-list:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18rem;
  width: 100vw;
  height: 100%;
  background: aliceblue;
}

@media (max-width: 1399.98px) {
  .lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-list:before {
    left: 20rem;
  }
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-item {
  width: 14.28%;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-item > a {
  width: 10rem;
  margin: auto;
  padding: 0;
  border: none;
  text-align: center;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-item > a:before {
  content: "";
  display: block;
  width: 10rem;
  margin-bottom: 1rem;
  height: 8.5rem;
  border: 1px solid #e5e7ee;
  border-radius: 2rem;
  background: url("../img/layout/infopart-sprite.png") no-repeat left 3.5rem;
  background-position: center 1.8rem;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth2-item > a:after {
  display: none;
}

.lnb .lnb-box .menu .menu-wrap .depth2-wrap.infopart .depth3-list {
  display: none;
}

.lnb .lnb-box .menu .menu-wrap .depth2-list {
  padding: 1rem 0 3rem;
}

.lnb .lnb-box .menu .menu-wrap .depth2-list:after {
  content: "";
  display: block;
  clear: both;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item {
  float: left;
  width: 20%;
  padding: 2rem 1rem 0;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item > a {
  display: block;
  position: relative;
  padding: 0.8rem 5rem 0.8rem 2rem;
  border: 1px solid #c5c9d6;
  border-radius: 4px;
  font-weight: 400;
  color: #444444;
  line-height: 1.4;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item > a[target="_blank"]:after {
  width: 1.2rem;
  height: 1.2rem;
  background-position: left 100%;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item > a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5rem;
  width: 9px;
  height: 5px;
  margin: auto;
  background: url("../img/layout/menu-sprite.png") no-repeat center;
  background-position: left 31.57%;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item.wide {
  width: 40%;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item.wide .depth3-list:after {
  content: "";
  display: block;
  clear: both;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item.wide .depth3-item {
  float: left;
  width: 50%;
}

.lnb .lnb-box .menu .menu-wrap .depth2-item.more > a:after {
  right: 1.5rem;
  width: 9px;
  height: 5px;
  background-position: left 31.57%;
}

.lnb .lnb-box .menu .menu-wrap .depth3-list {
  margin-top: 1rem;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box .menu .menu-wrap .depth3-list {
    display: block;
  }
}

.lnb .lnb-box .menu .menu-wrap .depth3-item {
  position: relative;
  padding-left: 1.2rem;
  font-size: 1.5rem;
  color: #7d7d7d;
  line-height: 2;
  letter-spacing: -0.03em;
}

.lnb .lnb-box .menu .menu-wrap .depth3-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #c5c9d6;
}

.lnb .lnb-box .menu .menu-wrap .depth4-list {
  display: none;
}

.lnb .lnb-box .menu .sitemap-open {
  float: left;
  width: 5rem;
  height: 5rem;
  margin-top: 2.5rem;
}

.lnb .lnb-box .menu .sitemap-open > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.lnb .lnb-box .menu .sitemap-open > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2rem;
  height: 1.6rem;
  margin: auto;
  background: url("../img/layout/sitemap-open.png") no-repeat center;
}

.lnb .lnb-box .menu .menu-close {
  display: none;
}

.lnb .lnb-box .search {
  float: right;
  margin-top: 2.5rem;
}

.lnb .lnb-box .search .search-open button {
  position: relative;
  width: 5rem;
  height: 5rem;
}

@media (max-width: 991.98px) {
  .lnb .lnb-box .search .search-open button {
    width: 4rem;
    height: 4rem;
  }
}

.lnb .lnb-box .search .search-open button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
  background: url("../img/layout/search-sprite.png") no-repeat left 38.2%;
}

.lnb .lnb-box .search .search-modal {
  display: none;
}

.test {
  width: 100%;
  min-height: 400px;
}

.test:after {
  content: "";
  display: block;
  clear: both;
}

.test li {
  width: 25%;
  float: left;
}
