html {
  font-size: 62.5%;
  font-weight: 300;
}
#wrapper {
  font-size: 1.6rem;
  color: color(dark);
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  @include desktop {
    padding: 0 2rem;
  }
}

body {
  @include desktop {
    background: skyblue;
  }
  @include tablet {
    background: pink;
  }
  @include mobile-l {
    background: ivory;
  }
  @include mobile {
    background: #eee;
  }
}
